sindicato/ldap.wsdl.2

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test.dswi.gsa.telcel.com" xmlns:impl="http://test.dswi.gsa.telcel.com" xmlns:intf="http://test.dswi.gsa.telcel.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema targetNamespace="http://test.dswi.gsa.telcel.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <element name="autenticarUsuarioResponse">
    <complexType>
     <sequence>
      <element name="autenticarUsuarioReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="autenticarUsuarioApp">
    <complexType>
     <sequence>
      <element name="numeroEmpleado" nillable="true" type="xsd:string"/>
      <element name="password" nillable="true" type="xsd:string"/>
      <element name="idApp" nillable="true" type="xsd:string"/>
      <element name="claveApp" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="autenticarUsuarioAppResponse">
    <complexType>
     <sequence>
      <element name="autenticarUsuarioAppReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="autenticarUsuario">
    <complexType>
     <sequence>
      <element name="numeroempleado" nillable="true" type="xsd:string"/>
      <element name="password" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  </wsdl:types>
  <wsdl:message name="autenticarUsuarioAppResponse">
    <wsdl:part element="impl:autenticarUsuarioAppResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="autenticarUsuarioAppRequest">
    <wsdl:part element="impl:autenticarUsuarioApp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="autenticarUsuarioRequest">
    <wsdl:part element="impl:autenticarUsuario" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="autenticarUsuarioResponse">
    <wsdl:part element="impl:autenticarUsuarioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ldap">
    <wsdl:operation name="autenticarUsuario">
      <wsdl:input message="impl:autenticarUsuarioRequest" name="autenticarUsuarioRequest">
    </wsdl:input>
      <wsdl:output message="impl:autenticarUsuarioResponse" name="autenticarUsuarioResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autenticarUsuarioApp">
      <wsdl:input message="impl:autenticarUsuarioAppRequest" name="autenticarUsuarioAppRequest">
    </wsdl:input>
      <wsdl:output message="impl:autenticarUsuarioAppResponse" name="autenticarUsuarioAppResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ldapSoapBinding" type="impl:ldap">
<wsaw:UsingAddressing wsdl:required="false"/>
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="autenticarUsuario">
      <wsdlsoap:operation soapAction="autenticarUsuario"/>
      <wsdl:input name="autenticarUsuarioRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="autenticarUsuarioResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autenticarUsuarioApp">
      <wsdlsoap:operation soapAction="autenticarUsuarioApp"/>
      <wsdl:input name="autenticarUsuarioAppRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="autenticarUsuarioAppResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ldapService">
    <wsdl:port binding="impl:ldapSoapBinding" name="ldap">
      <wsdlsoap:address location="http://serviciosidentidad.telcel.com:9083/ldapWeb/services/ldap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>